{%extends 'base.html'%}
{%block body%}
<div class="container">
  <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
          {%if messages%}
            {%for m in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong></strong>{{m}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endfor%}
          {%endif%}
      </div>
      <div class="col-4"></div>
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>User</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
        {%for t in tasks%}
        <tr>
          <td>{{t.task_name}}</td>
          <td>{{t.user}}</td>
          <td>{{t.date}}</td>
          <td>
            <a href="{%url 'task-detail' t.id%}" class="btn btn-outline-info">View</a>
            <a href="{%url 'task-delete' t.id%}" class="btn btn-outline-danger">Delete</a>
            <a href="{%url 'task-edit' t.id%}" class="btn btn-outline-primary">Edit</a>
          </td>
        </tr>
        {%endfor%}
      </table>
    </div>
    <div class="col-2"></div>
  </div>
</div>
{%endblock%}